# Ignore node_modules directory
node_modules/

# Ignore any local environment configuration files
.env

# Ignore log files
*.log

# Ignore IDE or editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
