<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/send-message">Send Message</a></li>
            <li><a href="/contactus">Contact Us</a></li> <!-- Added Contact Us button -->
        </ul>
    </nav>
    <div class="container">
        <h1>Home Page</h1>
        <p>Welcome to our website!</p>
    </div>
</body>

</html>