<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="container">
        <h1>Send Message</h1>
        <form action="/success" method="POST"> <!-- Form submission to '/success' route -->
            <label for="message">Message:</label><br>
            <input type="text" id="message" name="message"><br>
            <button type="submit">Send</button>
        </form>
    </div>
</body>

</html>